<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-fixed navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <%= link_to "YAR Forum", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="newpost" id="newpost"><%= link_to "New Post", new_post_path %></li>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"  %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
          <%end%>
        </ul>
      </div>
    </nav>
  	<div class="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
